<router-outlet></router-outlet>
<div class="first-page w-full flex flex-wrap">
    <div class="header-one flex flex-wrap w-full justify-between bg-[#0f1422]  px-[90px] py-[25px]  items-center ">
        <div class="img flex flex-wrap ">
            <img class="" src="../../../../assets/images/e.png" alt="" />
        </div>
        <div class="menu flex flex-wrap text-[#F1F1F1] gap-[40px] justify-center items-center  ">
            <p class="hover:text-[#eea27c]">Services</p>
            <p class="hover:text-[#eea27c]">Blog</p>
            <p class="hover:text-[#eea27c]">Company</p>
            <button
                class="bg-gradient-to-r from-[#7C31C8] via-100%  via-[#F07B35] rounded-md py-[14px] px-[43px]">CONTACT
                US</button>
        </div>
    </div>

    <div
        class="first-page-content flex flex-wrap w-full px-[90px]  justify-between bg-gradient-to-b from-[#eea27c] from-1% bg-[#0f1422]">
        <!-- <div class="pb-10">
            <img class="absolute " src="../../../../assets/images/Mask group (1).png" alt="" />
        </div> -->
        <div class="first-page-content-1 flex flex-wrap text-[white] w-[50%] pt-[36px]  pb-[13px]">
            <p class="flex flex-wrap font-[800] text-[48px] ">Get to know about Nodalsoft, before we take off to the
                moon, together.</p>
            <p class="flex flex-wrap font-[800] text-[16px] pb-[35px]">Nodalsoft Technologies, the Enterprise
                Blockchain
                Development Company, helps startups & established
                enterprises in cryptocurrency, NFT & DeFi Development. We believe, by collaborating with fintech
                entrepreneurs the world can inch towards complete decentralization sooner than ever. With 50+ in-house
                blockchain architects, application developers, and a dedicated content marketing unit, Nodalsoft
                Technologies elevates a fintech entrepreneur's dream from product execution and launch to global growth.
            </p>
            <button
                class=" flex flex-wrap bg-gradient-to-r from-[#7C31C8] via-100%  via-[#F07B35] rounded-md pt-[12px]  px-[20px]">Let’s
                Discuss</button>
        </div>
        <div class="flex flex-wrap pt-[57px] pb-[33px] ">
            <img class="" src="../../../../assets/images/Group.png" alt="" />
        </div>
    </div>
</div>
<div class="page-tow-header w-full flex flex-wrap justify-center items-center">
    <div class="header-tow flex flex-wrap w-full bg-[#1d2741] flex-row px-[90px] py-[15px] text-white gap-5">
        <img class="" src="../../../../assets/images/home.png" alt="" />
        <p>Home ></p>
        <p>About Us</p>
    </div>
</div>
<div
    class="page-tow-main w-full flex flex-wrap bg-[#0f1422] px-[237px] pt-[100px] gap-[96px] justify-center items-center bg-gradient-to-l from-[#eea27c] from-1% via-[#0f1422] to-95%">
    <div class="flex flex-wrap ">
        <img class="" src="../../../../assets/images/Group 622.png" alt="" />
    </div>
    <div class="page-tow-one flex flex-wrap w-[50%] flex-col gap-2 justify-center pb-[20px]">
        <p class="text-[#CB9BE8] font-[700] text-[16px]">DREAM</p>
        <h2 class="text-[#E5DCED] font-[800] text-[32px]">What's Our Goal?</h2>
        <p class="text-[#E5DCED] font-[700] text-[16px]">To hand over the power of ownership with 100% unimaginable
            freedom to everyone around
            the world, irrespective
            of religion, caste, or financial status, by unleashing the revolutionary potential of blockchain technology
            and cryptocurrency through collaborations made with global fintech entrepreneurs of all ranges.</p>
    </div>
</div>
<div
    class="page-three-main w-full flex flex-wrap bg-[#0f1422] px-[237px] pt-[100px] gap-[96px] justify-center items-center bg-gradient-to-l from-[#eea27c] from-1% via-[#0f1422] to-95%">
    <div class="page-three-one flex flex-wrap w-[50%] flex-col gap-2 justify-center pb-[20px]">
        <p class="text-[#CB9BE8] font-[700] text-[16px]">STRATEGY</p>
        <h2 class="text-[#E5DCED] font-[800] text-[32px]">How Do We Achieve?</h2>
        <p class="text-[#E5DCED] font-[700] text-[16px]">By partnering with nascent fintech startups and large
            blockchain-based conglomerates as blockchain technology service providers, Nodalsoft aims to inch towards
            its vision of creating a decentralized creator economy with full access over our funds.</p>
    </div>
    <div class="flex flex-wrap ">
        <img class="" src="../../../../assets/images/Group 623.png" alt="" />
    </div>
</div>
<div class="page-four-one flex flex-wrap w-full justify-center bg-[#0f1422] px-[94px] py-[25px]  items-center flex-col">

    <p class="flex flex-wrap text-[#CB9BE8] font-[700] text-[16px]"> ETHICS</p>
    <p class="flex flex-wrap text-[#E5DCED] font-[800] text-[32px]">Driven by Principles.</p>
    <p class="flex flex-wrap text-[#E5DCED] font-[800] text-[32px]">Then. Now. Forever.</p>

    <div class="flex flex-wrap flex-row justify-between w-full">
        <div class="flex flex-wrap max-w-[371px] relative  pt-10 ">
            <div class="flex right-[50px] top-[18px] absolute  ">
                <img class="flex flex-wrap w-[64px] justify-end items-end" src="../../../../assets/images/quality.png"
                    alt="">
            </div>
            <div class="flex  flex-wrap rounded-[25px] border-[#CB9BE8] border-[2px] flex-col py-[45px] px-[35px]">
                <p class="text-[#CB9BE8] font-[800] text-[20px]">QUALITY</p>
                <p class="text-[#E5DCED] font-[700] text-[16px]">System quality is of utmost importance to us because it
                    determines the success of your organization and maintains your esteemed reputation in the market.
                </p>
            </div>
        </div>
        <div class="flex flex-wrap max-w-[371px] relative  pt-10 ">
            <div class="flex  right-[50px] top-[18px] absolute">
                <img class="flex flex-wrap w-[64px] justify-end items-end"
                    src="../../../../assets/images/punctuality.png" alt="">
            </div>
            <div class="flex  flex-wrap rounded-[25px] border-[#CB9BE8] border-[2px] flex-col py-[45px] px-[35px]">
                <p class="text-[#CB9BE8] font-[800] text-[20px]">PUNCTUALITY</p>
                <p class="text-[#E5DCED] font-[700] text-[16px]">We honour your deadlines and the work-life balance of
                    our staff. So we find the right balance in yielding quality output without affecting your business
                    and reputation.
                </p>
            </div>
        </div>
        <div class="flex flex-wrap max-w-[371px] relative  pt-10 ">
            <div class="flex absolute  right-[50px] top-[18px]">
                <img class="flex flex-wrap w-[64px] justify-end items-end"
                    src="../../../../assets/images/transprarency.png" alt="">
            </div>
            <div class="flex  flex-wrap rounded-[25px] border-[#CB9BE8] border-[2px] flex-col py-[45px] px-[35px]">
                <p class="text-[#CB9BE8] font-[800] text-[20px]">TRANSPARENCY</p>
                <p class="text-[#E5DCED] font-[700] text-[16px]">Deputing an exclusive project manager for every client
                    ensures they remain updated with the development progress and we get to hear out their instant
                    reviews too.
                </p>
            </div>
        </div>
    </div>

</div>
<div
    class="page-five flex flex-wrap w-full justify-center bg-[#0f1422] px-[94px] py-[25px]  items-center flex-col gap-[15px]">
    <h2 class="text-[#CB9BE8] font-[800] text-[32px]">Our Accomplishments</h2>
    <p class="text-[#E5DCED] font-[700] text-[16px]">Here’s a quick glimpse at what Nodalsoft Technologies has
        achieved
        over the last few years in blockchain space.
    </p>

    <div class="page-five-main flex flex-wrap gap-[218px] flex-row justify-between w-full px-[175px]">

        <div class="flex flex-wrap flex-row justify-center items-center gap-2">
            <img class="w-[18px] h-[18px] mt-10" src="../../../../assets/images/Vector (1).png" alt="" />
            <p class="text-[#E5DCED] font-[700] text-[16px] pt-10">Clients</p>
            <p class="text-[#E5DCED] font-[700] text-[64px]">63</p>
        </div>
        <div class="flex flex-wrap flex-row justify-center items-center gap-2">
            <img class="w-[18px] h-[18px] mt-10 " src="../../../../assets/images/Vector (2).png" alt="" />
            <p class="text-[#E5DCED] font-[700] text-[16px] pt-10">Projects</p>
            <p class="text-[#E5DCED] font-[700] text-[64px]">105</p>
        </div>
        <div class="flex flex-wrap flex-row justify-center items-center gap-2">
            <img class="w-[18px] h-[18px] mt-10" src="../../../../assets/images/Vector (3).png" alt="" />
            <p class="text-[#E5DCED] font-[700] text-[16px] pt-10">Countries</p>
            <p class="text-[#E5DCED] font-[700] text-[64px]">23</p>
        </div>


    </div>
</div>
<div class="page-six-one flex flex-wrap w-full  bg-[#0f1422] px-[94px] py-[25px] flex-col">
    <p class="flex flex-wrap justify-center items-center text-[#CB9BE8] font-[800] text-[32px]">Industries We Serve</p>
    <div class="page-six-one-cnt flex flex-wrap justify-between">
        <div
            class="page-six-one-cnt-1 flex flex-wrap gap-[42px] w-[15%] justify-center items-center pt-[40px] flex-col ">
            <div class=" flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="" src="../../../../assets/images/supply-chain-and-logistics.png" alt="" />
                <p class="  font-[800] text-[12px] text-[#DADADC]">Supply chain & Logistics</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/government-records.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">Government records</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/media-and-entertainment.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">Media and Entertainment</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left" src="../../../../assets/images/agriculture.png" alt="" />
                <p class="  font-[800] text-[12px] text-[#DADADC]">Agriculture</p>
            </div>
            >
        </div>
        <div
            class="page-six-one-cnt-2 flex flex-wrap gap-[42px] w-[15%] justify-center items-center pt-[40px] flex-col ">
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left" src="../../../../assets/images/pharma.png" alt="" />
                <p class="  font-[800] text-[12px] text-[#DADADC]">pharma</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/ecommerce.png" alt="" />
                <p class="  font-[800] text-[12px] text-[#DADADC]">Ecommerce</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/etail-and-consumer-goods.png" alt="" />
                <p class="font-[800] text-[12px] text-[#DADADC]">Retail and Consumer Goods</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/crypto-exchange.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">Crypto Exchange</p>
            </div>
            >
        </div>
        <div
            class=" page-six-one-cnt-3 flex flex-wrap gap-[42px] w-[15%] justify-center items-center pt-[40px] flex-col ">
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left" src="../../../../assets/images/healthcare.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">Healthcare</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left" src="../../../../assets/images/ravel-and-hospitality.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">Travel and Hospitality</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/iot.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">IoT</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left" src="../../../../assets/images/gaming.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">Gaming</p>
            </div>
            >
        </div>
        <div class="page-six-one-cnt-4 flex flex-wrap gap-[42px] w-[15%] justify-center  pt-[40px] flex-col ">
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left" src="../../../../assets/images/insurance.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">insurance</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/crowdfunding (1).png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">crowdfunding</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/fmcg.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">fmcg</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left]" src="../../../../assets/images/tele-communications.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">tele-communications</p>
            </div>
            >
        </div>
        <div class=" page-six-one-cnt-5 flex flex-wrap gap-[42px] w-[15%] justify-center  pt-[40px] flex-col ">
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left" src="../../../../assets/images/real-estate (1).png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">real-estate</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/manufacturing (1).png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">manufacturing</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/identity-management.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">identity-management</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/digital-records.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">digital-records</p>
            </div>
            >
        </div>
        <div
            class=" page-six-one-cnt-6 flex flex-wrap gap-[42px] w-[15%] justify-center items-center pt-[40px] flex-col ">
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left" src="../../../../assets/images/charity.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">charity</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/banking-and-financial-services.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">banking-and-financial</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left " src="../../../../assets/images/automotive.png" alt="" />
                <p class=" font-[800] text-[12px] text-[#DADADC]">automotive</p>
            </div>
            <div class="flex flex-wrap justify-center items-center flex-col gap-5">
                <img class="pad-left" src="../../../../assets/images/education.png" alt="" />
                <p class="font-[800] text-[12px] text-[#DADADC]">education</p>
            </div>
            >
        </div>
    </div>
</div>
<div class="page-sevan-one flex flex-wrap w-full gap-[40px]  bg-[#0f1422] px-[33px]  flex-col">
    <p class="flex flex-wrap justify-center items-center text-[#CB9BE8] font-[800] text-[32px]">Tech Stack We Specialize
        In</p>
    <div class="page-sevan-one-cnt flex flex-row flex-wrap w-full justify-between">
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class="" src="../../../../assets/images/Group (2).png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">C++</p>
        </div>
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class=" " src="../../../../assets/images/MstixH.tif.png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Solidity</p>
        </div>
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class="" src="../../../../assets/images/G4pto7.tif.png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Go</p>
        </div>
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class="" src="../../../../assets/images/Vector (4).png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Rust</p>
        </div>
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class="" src="../../../../assets/images/Vector (5).png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Python</p>
        </div>
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class="" src="../../../../assets/images/Vector (6).png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Scala</p>
        </div>
    </div>
</div>
<div class="page-sevan-tow flex flex-wrap w-full gap-[40px]  bg-[#0f1422] px-[33px] py-[100px] flex-col">
    <p class="flex flex-wrap justify-center items-center text-[#CB9BE8] font-[800] text-[32px]">Our Expertise Lies On
        Various Blockchain Development Platforms
    </p>
    <div class="flex flex-row flex-wrap w-full gap-[65px] justify-center items-center">
        <div class="flex flex-wrap justify-center items-center flex-col gap-10">
            <img class="" src="../../../../assets/images/Vector (7).png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Corda</p>
        </div>
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class=" " src="../../../../assets/images/multichain-blockchain-network.png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Multichain</p>
        </div>
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class="" src="../../../../assets/images/olana-blockchain-network.png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Solana</p>
        </div>
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class="" src="../../../../assets/images/avalanche-blockchain-network.png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Avalanche</p>
        </div>
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class="" src="../../../../assets/images/cardano-blockchain-network.png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Cardano</p>
        </div>
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class="" src="../../../../assets/images/ethereum-blockchain-network.png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Ethereum</p>
        </div>
        <div class="flex flex-wrap justify-center items-center flex-col gap-5">
            <img class="" src="../../../../assets/images/binance-blockchain-network.png" alt="" />
            <p class=" font-[800] text-[12px] text-[#DADADC]">Binance</p>
        </div>
    </div>
</div>
<div class="page-sevan-three flex flex-wrap w-full gap-[40px]  bg-[#0f1422] px-[89px]  flex-col">
    <p class="flex flex-wrap justify-center items-center text-[#CB9BE8] font-[800] text-[32px]">Our Expertise Lies On
        Recognized by Top Global Publications
    </p>
    <div class="flex flex-row flex-wrap w-full justify-center items-center ">
        <div class="flex flex-wrap justify-center items-center  gap-[120px] ">
            <img class="" src="../../../../assets/images/clutch-badge.png" alt="" />
            <img class="" src="../../../../assets/images/itrate-badge.png" alt="" />
            <img class="" src="../../../../assets/images/crunchbase-badge.png" alt="" />
            <img class="" src="../../../../assets/images/goodfirms-badge.png" alt="" />
            <img class="" src="../../../../assets/images/techreviewer-badge.png" alt="" />
        </div>

    </div>
    <div class="flex flex-row flex-wrap pt-[60px] justify-center items-center">
        <div class="flex flex-wrap justify-center items-center  gap-[120px]">
            <img class="" src="../../../../assets/images/badge-top-software-development-companies.png" alt="" />
            <img class="" src="../../../../assets/images/appfutura-badge.png" alt="" />
            <img class="" src="../../../../assets/images/mobile-app-daily-badge.png" alt="" />
            <img class="" src="../../../../assets/images/design-rush-badge.png" alt="" />
        </div>

    </div>
</div>
<div
    class="page-eight-one flex flex-wrap w-full   justify-center items-center bg-[#0f1422] px-[55px] py-[100px]  flex-col">
    <div class="max-w-[654px] flex flex-wrap justify-center gap-[15px] items-center flex-col">
        <p class="flex flex-wrap justify-center items-center text-[#CB9BE8] font-[800] text-[16px]">TESTIMONIALS
        </p>
        <p class="flex flex-wrap justify-center items-center text-[#E5DCED] font-[800] text-[32px]">Trusted by global
            fintech entrepreneurs
        </p>
        <p
            class="flex flex-wrap justify-center items-center text-[#E5DCED] font-[700] text-[16px] text-center line-clamp-2	">
            By
            providing
            justice to system stability and application quality, we, Nodalsoft Technologies, were able to influence our
            client's
            success across the world.
        </p>
        <p class="flex flex-wrap justify-center items-center text-[#E5DCED] font-[700] text-[16px] pt-[40px]">
            Daniel
        </p>
        <p class="flex flex-wrap justify-center items-center text-[#E5DCED] font-[700] text-[16px] pt-[10px]">
            CEO of Wyzth Network
        </p>
        <div class="flex flex-wrap justify-start items-start ">
            <img class="pr-[220px]" src="../../../../assets/images/Group 109.png" alt="" />
        </div>

        <p class="flex flex-wrap justify-center items-center text-[#E5DCED]  font-[700] text-[16px] pt-[10px]">
            “Reliable blockchain technology partners"
        </p>
        <p
            class="flex flex-wrap justify-center items-center text-[#E5DCED] font-[700] text-[16px] pt-[10px] text-center line-clamp-6">
            Our journey started with just token creation. Punctual delivery with quality and transparent communication
            of
            Nodalsoft's team led us to DeFi protocol development too. Today, we're building a complete blockchain with
            explorer, payment options, swap etc. Nodalsoft is, and will be, our trustworthy blockchain technology
            partner.
        </p>
        <img class="pt-5" src="../../../../assets/images/Group 62.png" alt="" />
    </div>

</div>
<div class="nine-cnt flex flex-wrap px-[170px] py-[100px]  bg-[#0f1422]">
    <div
        class="flex flex-wrap w-full   bg-gradient-to-b from-[#ECFDF7] via-500%  via-[#FFE3CA] to-pink-500 rounded-[50px]   ">
        <div class="nine-cnt-1 flex flex-wrap w-[50%] px-[40px] py-[185px]  ">
            <p class="font-[800] text-[20px]">Ready to translate your longterm blockchain dreams to instant reality?
            </p>

            <p class="font-[700] text-[14px]">Submit your business requirements now in the form.
                Our blockchain architects will contact you in less than 12 hours.
                Let's get it started!</p>
            <div class="flex flex-wrap flex-col pt-[29px]">
                <div
                    class="btn bg-black text-white justify-center items-center flex flex-wrap px-[36px] py-[10px] rounded-md">
                    <button>CONSULT FOR FREE</button>
                </div>
                <div class="flex flex-wrap pt-[40px]">
                    <img class="flex flex-wrap" src="../../../../assets/images/Group 114.png" alt="" />
                </div>
            </div>
        </div>
        <div class="nine-cnt-2 flex flex-wrap w-[50%] bg-[#282E3F] rounded-[50px] h-full justify-center items-center">
            <div class="flex flex-wrap pt-[120px] w-full px-[30px] gap-8 justify-center items-center pb-[28px] ">
                <input class="bg-white border-none w-full rounded-full py-[10px] pl-4" type="text"
                    placeholder="Full Name">
                <div class="flex flex-wrap flex-row w-full border-none  justify-between">
                    <input class="bg-white w-[45%] border-none rounded-full py-[10px] pl-4" type="text"
                        placeholder="Country">
                    <input class="bg-white w-[45%] border-none rounded-full py-[10px] pl-4" type="text"
                        placeholder="Phone Number">
                </div>
                <input class="bg-white border-none w-full rounded-full py-[10px] pl-4" type="text"
                    placeholder="E Mail Address">
                <input class="bg-white border-none w-full rounded-full py-[10px] pl-4" type="text"
                    placeholder="Required Services">
                <input class="bg-white border-none w-full rounded-lg py-[10px] pl-4 h-[113px] " type="text"
                    placeholder="Message...">
                <button
                    class=" bg-gradient-to-r from-[#7C31C8] via-100%  via-[#F07B35] rounded-md py-[9px] px-[40px] text-white">SUBMIT</button>
            </div>
        </div>
    </div>
</div>
<div class="page-ten-cnt flex flex-wrap w-full bg-[#0f1422] px-[89px] py-[106px]">
    <div class="flex flex-wrap justify-between w-full text-white">
        <div class="page-ten-cnt-1 w-[20%] ">
            <img class="pt-5" src="../../../../assets/images/nodalsoft-technologies-logo.png" alt="" />
            <p class=" pt-[20px] text-[#DADADC]">Nodalsoft Technologies collaborates with fintech
                entrepreneurs, both small and large scale, to turn their
                visionary blockchain ideas into reality. We offer tier-1 development services on cryptocurrency,
                blockchain, NFT, and other prominent Web2 applications.
            </p>
            <p class=" text-[#DADADC] pt-[20px]">Subscribe to our newsletter</p>
            <div class="flex flex-wrap  pt-5 justify-end">
                <input class="w-full py-[7px] bg-[#0f1422] border-2 border-[#7C31C8] rounded-md relative pl-3"
                    type="text" placeholder="Email Address">
                <img class=" absolute bg-[#7C31C8] px-[13px] py-[15px] flex flex-wrap justify-center items-center rounded-md"
                    src="../../../../assets/images/Union.png" alt="" />
            </div>

        </div>
        <div class="page-ten-cnt-2 w-[20%] flex flex-wrap gap-[15px] flex-col">
            <p class="font-[600] text-[22px] ">Services</p>
            <p class="pt-[20px]">Blockchain development</p>
            <p class=" ">Metaverse development</p>
            <p class=" ">NFT marketplace development</p>
            <p class=" ">DeFi development</p>
            <p class=" ">Cryptocurrency development</p>
            <p class=" ">Token Development</p>
            <p class=" ">NFT development</p>
            <p class=" ">Web 2.0 development</p>
            <p class=" ">Web 3.0 development</p>
            <p class=" ">Digital Marketing Services</p>
        </div>
        <div class="page-ten-cnt-3 w-[20%] flex flex-wrap gap-[15px] flex-col ">
            <p class="font-[600] text-[22px] ">Company</p>
            <p class="pt-[20px] ">About us</p>
            <p class=" "> conditions</p>
            <p class=" ">Privacy Policy</p>
            <p class=" ">Contact us</p>
            <p class=" ">Blog</p>
        </div>
        <div class="page-ten-cnt-4 w-[20%] flex flex-wrap gap-[15px] flex-col">
            <p class="font-[600] text-[22px] ">Contact us</p>
            <div class="flex flex-wrap flex-row gap-[15px] pt-[20px] ">
                <img class="pt-1" src="../../../../assets/images/Group (3).png" alt="" />
                <p>+91 75503 16662</p>
                <img class="pt-1" src="../../../../assets/images/united-states-of-america 1.png" alt="" />

            </div>
            <div class="flex flex-wrap flex-row gap-[15px] ">
                <img class="pt-1" src="../../../../assets/images/Group (3).png" alt="" />
                <p>+91 75503 16662</p>
                <img class="pt-1" src="../../../../assets/images/india 1.png" alt="" />

            </div>
            <div class="flex flex-wrap flex-row gap-[15px] ">
                <img class="pt-1" src="../../../../assets/images/Vector (8).png" alt="" />
                <p>https://t.me/Nodalsoft</p>

            </div>
            <div class="flex flex-wrap flex-row gap-[15px] ">
                <img class="pt-1" src="../../../../assets/images/Group 801.png" alt="" />
                <p>business#nodalsoft.com</p>

            </div>
            <div class="flex flex-wrap flex-row ">
                <div class="flex flex-wrap flex-row gap-[30px]">
                    <img class="pt-1" src="../../../../assets/images/Union (1).png" alt="" />
                    <img class="pt-1" src="../../../../assets/images/twitter-logo.png" alt="" />
                    <img class="pt-1" src="../../../../assets/images/pinterest-logo.png" alt="" />

                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap w-full justify-center items-center text-white py-[40px] px-5 ">
        <p>Copyrights © 2023 Nodalsoft Technologies. All rights reserved.</p>
    </div>